.sideNote{
	background: #256902  !important;
	font-weight: 600;
	color:#000;
	border:none;
}

.pageTitleWrapper{
	background-color: #615f5f !important;
}
.pageTitleWrapper .pageTitle h2{
	color:#fff !important;
}
body{
	color:#00d0ff !important;
}
.textwidget div{
	background: #615f5f !important;
}
#main{
	background: #242425 !important;
}
a{
	color:goldenrod ;
}
.formFrame, .codeBox{
	background: #256902 !important;
	font-weight: 600;
	color:#000;
	border:none;
}
.formFrame td{
	border:1px solid #00380c !important;
}
.code{
	background: #4a3030 !important;
	border:none;
	color:#3cae0d;
	overflow: overlay;

}

a.tc-header-login{
	background: #1b5f0a !important;
	color:white !important;
}
.top-header{
	background: #253131 !important;
}
.header-wrapper{
	background: #242425 !important;
}
